<div class="container py-4">
  <p>
  <h1>About the datathon</h1>
  <h2>What is a design challenge?</h2>

  <h2>What is the Pixar Pitch?</h2>

  <h2>Things to keep in mind</h2>
  
    <ul>
      <li>You may propose a solution even if you don’t have all the skills because we can help you find a partner.</li>
      <li>The focus is on finding the solution that addresses as much of the scenario as possible rather than the most technically complex one.</li>
      <li>This is about contributing to a toolkit of solutions.</li>
    </ul>
 
  <h2>The criteria for being selected are:</h2>
  
    <ul>
      <li>Relevance to the chosen scenario - <strong class="color-primary-1">25%</strong></li>
      <li>Relevance to EITI data - <strong class="color-primary-1">25%</strong></li>
      <li>Clarity and feasibility of the proposed solution - <strong class="color-primary-1">25%</strong></li>
      <li>Clarity of the user-centric design elements - <strong class="color-primary-1">15%</strong></li>
      <li>Ability of the applicant (individual or team) to prototype the solution - <strong class="color-primary-1">10%</strong></li>
    </ul>
  
  <h2>The winners will receive:</h2>

  <h2>If you have any questions:</h2>
  
    <ul>
      <li>Send an email to: <strong class="color-primary-1">eitidatathon@okfn.org</strong>.</li>
      <li><a href=""><strong class="color-primary-1">Register to the datathon newsletter</strong></a> to get updates and answers to questions from other participants.
      </li>
      <li>Consult the <a href="{{ site.baseurl }}"><strong class="color-primary-1">applicant's guide</strong></a>.
      </li>
    </ul>
  </p> 
</div>