<div class="container py-4">
  <h1>About the datathon</h1>
  
  <h2>What is a design challenge?</h2>
  <p>

  </p>

  <h2>What is the Pixar Pitch?</h2>
  <p>

  </p>
  
  <h2>Things to keep in mind:</h2>
  <p>
    <ul>
      <li>You may propose a solution even if you don’t have all the skills because we can help you find a partner.</li>
      <li>The focus is on finding the solution that addresses as much of the scenario as possible rather than the most technically complex one.</li>
      <li>This is about contributing to a toolkit of solutions.</li>
    </ul>
  </p>

  <h2>The criteria for being selected are:</h2>
  <p>
    <ul>
      <li>Relevance to the chosen scenario - <strong class="color-primary-1">25%</strong></li>
      <li>Relevance to EITI data - <strong class="color-primary-1">25%</strong></li>
      <li>Clarity and feasibility of the proposed solution - <strong class="color-primary-1">25%</strong></li>
      <li>Clarity of the user-centric design elements - <strong class="color-primary-1">15%</strong></li>
      <li>Ability of the applicant (individual or team) to prototype the solution - <strong class="color-primary-1">10%</strong></li>
    </ul>
  </p>
  
  <h2>Prizes will be awarded to the winners:</h2>
  <p>
    <ul>
      <li>The <strong class="color-primary-1">top four proposals</strong> will have the opportunity to pitch their tool at an EITI event.</li> 
      <li>The <strong class="color-primary-1">best proposal overall</strong>, as voted by the judges, will also have the opportunity to nominate a representative from their team to present their tool at the <strong class="color-primary-1">EITI Global Conference in Dakar, Senegal in June 2023</strong>. Depending on the team, more than one representative may be selected. The representative(s) will have the opportunity to attend the three day conference with airfare and accommodation covered by the EITI.</li>
      <li>Selected proposals will also have the opportunity to take part in a Natural Resource Governance Institute (NRGI) <a href="https://resourcegovernance.org/learning/training">training</a>. More information on the training and the EITI event will be provided at a later date.</li>
    </ul>
  </p>

  <h2>If you have any questions:</h2>
  <p>
    <ul>
      <li>Send an email to: <strong class="color-primary-1">eitidatathon@okfn.org</strong>.</li>
      <li><a href=""><strong class="color-primary-1">Register to the datathon newsletter</strong></a> to get updates and answers to questions from other participants.</li>
      <li>Sign up and attend the <a href="{{ site.link_qna }}"><strong class="color-primary-1">Q&A Sessions</strong></a> where interested participants can field their questions about the open call.</li>
    </ul>
  </p> 
</div>