<div class="container py-4"> 
  <h1>What will you find in this guide</h1>
  <p>
    <a href="#scenarios"><strong class="color-primary-1">Each scenario</strong></a> is documented in its own page with contextual information, links to suggested datasets and tips on how to best approach the scenario. The datathon <a href="#faq"><strong class="color-primary-1">FAQ</strong></a> is also accessible from this website and will be updated throughout the process. Lastly, you are also able to <a href="#submit-proposal"><strong class="color-primary-1">submit your proposal</strong></a> from this website. So keep the tab open!
  </p>

  <h2><strong>Things to keep in mind</strong></h2>
  <p>
    <ul>
      <li><strong class="color-primary-1"><u>This is not a hackathon</u>:</strong> this event is called datathon as we expect every proposal to make use of EITI data. But this is also a design challenge: more than the technical sophistication of the proposal, we are looking for proposals that match the chosen scenario by taking into account the users and beneficiaries of your proposed solution.</li>
      <li><strong class="color-primary-1"><u>No extractives industry expertise required</u>:</strong> we encourage anyone with data, design or coding skills to consider submitting a solution. Knowing the sector will help navigate the data quicker, but having an external perspective can also be an asset! After all, the ‘pain points’ behind each scenario are still unsolved.</li>
      <li><strong class="color-primary-1"><u>We do not expect perfect solutions</u>:</strong> the focus of this event is on prototyping ideas, rather than creating perfect tools. If your idea is pre-selected, you will also have access to several mentors to help you refine your solution, before the final event.</li>
      <li><strong class="color-primary-1"><u>Work in teams!</u>:</strong> It can be challenging to address all aspects of the scenario alone: someone with data modeling skills may not have design skills and vice versa. If you can come up with a good proposal but lack a team to prototype it, we will help you.</li>
    </ul>
  </p>

  <h2><strong>Our selection criteria are listed below</strong></h2>
  <p>
    <ul>
      <li>Relevance to the chosen scenario - <strong class="color-primary-1">25%</strong></li>
      <li>Relevance to EITI data - <strong class="color-primary-1">25%</strong></li>
      <li>Clarity and feasibility of the proposed solution - <strong class="color-primary-1">25%</strong></li>
      <li>Clarity of the user-centric design elements - <strong class="color-primary-1">15%</strong></li>
      <li>Ability of the applicant (individual or team) to prototype the solution - <strong class="color-primary-1">10%</strong></li>
    </ul>
  </p>
  
  <h2><strong>Prizes will be awarded to the winners</strong></h2>
  <p>
    <ul>
      <li>
        The <strong class="color-primary-1">team with the best overall proposal</strong> as voted by the judges will have the opportunity to nominate a representative to attend the <strong class="color-primary-1">EITI Global Conference in Dakar, Senegal in June 2023</strong> to present their tool to a global audience of EITI stakeholders. Depending on the team, more than one representative may be selected. The representative(s) will have the opportunity to participate in the three-day conference with airfare and accommodation covered by the EITI.
      </li>
      <li>
        The teams with the <strong class="color-primary-1">best proposal for each scenario</strong>, including the best overall proposal, will have the opportunity to pitch their tool at an EITI event. The teams will also have the opportunity to take part in a Natural Resource Governance Institute (NRGI) <a href="https://resourcegovernance.org/learning/training">training</a>. More information on the training and the EITI event will be provided at a later date.
      </li>
    </ul>
  </p>

  <h2><strong>If you have any questions:</strong></h2>
  <p>
    <ul>
      <li>Send an email to: <strong class="color-primary-1">eitidatathon@okfn.org</strong>.</li>
      <!-- <li><strong class="color-primary-1">Register to the datathon newsletter</strong> (to be announced later) to get updates and answers to questions from other participants.</li> -->
      <li>Sign up and attend the <a href="#timeline"><strong class="color-primary-1">Q&A Sessions</strong></a> where interested participants can field their questions about the open call.</li>
    </ul>
  </p> 
</div>