<div class="container py-4">
    <h1>Submit your proposal</h1>
    <div class="d-flex justify-content-start py-2"><a
      href=""
      target="_blank" class="btn btn-lg bg-color-primary-1 col-sm-12 col-md-6" style="color: white;" role="button"
      aria-disabled="true"><strong class="font-metropolis">Review the application form</strong></a>
    </div> 
    <div class="d-flex justify-content-start py-2"><a
      href=""
      target="_blank" class="btn btn-lg bg-color-primary-1 col-sm-12 col-md-6" style="color: white;" role="button"
      aria-disabled="true"><strong class="font-metropolis">Submit your application</strong></a>
    </div> 
</div>