<div class="container py-4">
    <h1>Contact us</h1>
    <p>
    You may send an email to <strong class="color-primary-1">eitidatathon@okfn.org</strong>.
    </p>
    <!-- <form class="contact-us" method="POST" action="https://formspree.io/eitidatathon@okfn.org">
        <input type="text" name="name" placeholder="Your name">
        <input type="text" name="organization" placeholder="Your organization">
        <input type="email" name="_replyto" placeholder="Your email">
        <textarea name="message" placeholder="Your message"></textarea>
        <button type="submit"><strong>SUBMIT</strong></button>
    </form> -->
<hr>
</div>
