<header class="masthead">
    <div class="container py-4">
    <div class="display-4 pb-4 pt-1" style="font-family: Metropolis"><strong class="color-primary-1">EITI Datathon 2022 Guide</strong></div>
      <p>
        This website documents what participants to the <a href="https://eiti.org/offers/open-call-datathon-innovative-solutions-data-driven-energy-transition"><strong class="color-primary-1">EITI datathon for the energy transition</strong></a> need to know to successfully respond to one of the four proposed scenarios.
      </p>
    </div>
</header>