<header class="masthead">
    <div class="container py-4">
    <div class="display-4 pb-4 pt-1" style="font-family: Metropolis"><strong class="color-primary-1">EITI Datathon 2022 Guide</strong></div>
      <p>
      Here you will find more information <a href="#what"><strong class="color-primary-1">about the datathon</strong></a>, the <a href="#scenarios"><strong class="color-primary-1">four scenarios</strong></a> that you can prototype solutions for, the <strong class="color-primary-1">different datasets</strong> that you can use, and answers to <a href="#faq"><strong class="color-primary-1">frequently asked questions</strong></a>.</p>
    </div>
</header>