<div class="container py-4">
    <h1>The scenarios</h1>
    <div class="row">
        <div class="card col-md-6 col-sm-12 my-2">
            <div class="d-flex justify-content-center align-items-center">
            <img src="{{ site.baseurl }}/assets/img/scenarios/scenario-1.png" class="p-4 img-responsive" alt="..." width="360px">
            </div>
            <div class="card-body">
                <p class="card-text"><strong class="color-primary-1">SCENARIO 1:</strong> Help officials decide how to invest government revenues to support long-term development plans in the context of the energy transition.</p>
                <div class="d-flex justify-content-start py-2"><a
                    href="scenarios/scenario-1.html"
                    target="_blank" class="btn btn-lg bg-color-primary-1 btn-hover color-white" role="button"
                    aria-disabled="true"><strong class="font-metropolis">Learn more about this scenario</strong></a>
                  </div> 
            </div>
        </div>
        <div class="card col-md-6 col-sm-12 my-2">
            <div class="d-flex justify-content-center align-items-center">
            <img src="{{ site.baseurl }}/assets/img/scenarios/scenario-2.png" class="p-4 img-responsive" alt="..." width="360px">
            </div>
            <!-- <img src="{{ site.baseurl }}/assets/img/scenarios/scenario-2.png" class="card-img-top p-4" alt="..."> -->
            <div class="card-body">
                <p class="card-text"><strong class="color-primary-1">SCENARIO 2:</strong> Help empower citizens to give their voice in the debate around energy transition.</p>
                <div class="d-flex justify-content-start py-2"><a
                    href="scenarios/scenario-2.html"
                    target="_blank" class="btn btn-lg bg-color-primary-1 btn-hover color-white" role="button"
                    aria-disabled="true"><strong class="font-metropolis">Learn more about this scenario</strong></a>
                  </div> 
            </div>
        </div>
        <div class="card col-md-6 col-sm-12 my-2">
            <div class="d-flex justify-content-center align-items-center">
            <img src="{{ site.baseurl }}/assets/img/scenarios/scenario-3.png" class="p-4 img-responsive" alt="..." width="360px">
            </div>
            <!-- <img src="{{ site.baseurl }}/assets/img/scenarios/scenario-3.png" class="card-img-top p-4" alt="..."> -->
            <div class="card-body">
                <p class="card-text"><strong class="color-primary-1">SCENARIO 3:</strong> Help improve how local populations engage with social spending data to ensure sustainable investments in their communities.</p>
                <div class="d-flex justify-content-start py-2"><a
                    href="scenarios/scenario-3.html"
                    target="_blank" class="btn btn-lg bg-color-primary-1 btn-hover color-white" role="button"
                    aria-disabled="true"><strong class="font-metropolis">Learn more about this scenario</strong></a>
                  </div> 
            </div>
        </div>
        <div class="card col-md-6 col-sm-12 my-2">
            <div class="d-flex justify-content-center align-items-center">
            <img src="{{ site.baseurl }}/assets/img/scenarios/scenario-4.png" class="p-4 img-responsive" alt="..." width="360px">
            </div>
            <!-- <img src="{{ site.baseurl }}/assets/img/scenarios/scenario-4.png" class="card-img-top p-4" alt="..."> -->
            <div class="card-body">
                <p class="card-text"><strong class="color-primary-1">SCENARIO 4:</strong> Help create a better data reconciliation process in a context of uncertainty.</p>
                <div class="d-flex justify-content-start py-2"><a
                    href="scenarios/scenario-4.html"
                    target="_blank" class="btn btn-lg bg-color-primary-1 btn-hover color-white" role="button"
                    aria-disabled="true"><strong class="font-metropolis">Learn more about this scenario</strong></a>
                  </div> 
            </div>
        </div>
    </div>
    

</div>