<div class="container py-4">
    <h1>Timeline</h1>
    <strong class="color-primary-1">Opening date:</strong> July 6th, 2022
    <br>
    <strong class="color-primary-1">Closing date:</strong> July 31st, 2022
    <br>
    <strong class="color-primary-1">Q&A Sessions</strong>
    <ul>
      <li><strong>Asia</strong> - July 19th, 2022 at 5:00 PM UTC+8</li>
      <li><strong>Europe</strong> - July 19th, 2022 at 5:00 PM CEST</li>
      <li><strong>America</strong> - July 20th, 2022 at 11:00 AM UTC-4</li>
    </ul>
    <strong class="color-primary-1">Proposal selection announcement:</strong> August 8th, 2022
    <br>
    <strong class="color-primary-1">Team assembling:</strong> From August 8th to 19th, 2022
    <br>
    <strong class="color-primary-1">
      Mentoring phase:</strong> From August 22nd to September 9th, 2022
    <br>
    <strong class="color-primary-1">2-day event, prototype and final pitch:</strong> September 10th and 11th, 2022
    <br>
    <strong class="color-primary-1">Final results:</strong>  September 12th, 2022 
</div>