@font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis/metropolis-light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis/metropolis-regular.otf");
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis/metropolis-medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis/metropolis-semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis/metropolis-bold.otf");
    font-weight: bold;
}

$font-metropolis: "Metropolis", sans-serif;

.font-metropolis {
    font-family: $font-metropolis;
}
