---
layout: page
---

<section class="d-flex flex-wrap justify-content-between align-items-center" id="intro">
    <div class="col-md-3 col-lg-2">
    <figure>
        {% if page.img-attr %}
        <a href="{{ page.img-attr }}" target="_blank" title="{{ page.img-attr-title }}">
            <img class="img-fluid" src="{{ site.baseurl }}/assets/img/scenarios/{{ page.img }}">
        </a>
        {% else %}
        <img class="img-fluid" src="{{ site.baseurl }}/assets/img/scenarios/{{ page.img }}">
        {% endif %}
    </figure>
    </div>
    <div class="col-md-9 col-lg-10">
        <p style="font-size: xx-large"><strong class="color-primary-1 mt-4">{{ page.title }}</strong></p>
    </div>
</section>

<section class="color-primary-2 rounded px-4 pt-2 pb-4 my-4" style="border: 6px solid" id="scenario">

<h1 class="color-primary-2">The scenario</h1>

<p><strong style="font-size: x-large">Once upon a time...</strong> {{ page.once }}</p>
<p><strong style="font-size: x-large">Every day...</strong> {{ page.every }}</p>

<!-- <hr> -->
<!-- <div class="bg-color-muted rounded px-4 py-2 mb-4"> -->
<p><strong class="color-primary-1" style="font-size: xx-large">This is where your proposal comes in.</strong></p>
<p><strong style="font-size: x-large">One day...</strong> <i>(what will you do to address the problems and challenges being faced?)</i></p>
<p><strong style="font-size: x-large">Because of that...</strong> <i>(what changes will your solution bring?)</i></p>
<!-- </div> -->
<!-- <hr> -->

<p><strong style="font-size: x-large">Until finally...</strong> {{ page.until }}</p>

<hr>
<h2><strong>Keywords</strong></h2>
<!-- <p>{{ page.keywords }}</p> -->
<p>
    {% for keyword in page.keywords %}
        <span class="scenario-keyword border rounded">{{ keyword }}</span>
    {% endfor %}
</p>

</section>

{{ content }}

<section class="pt-2 pb-4 container-fluid" id="about-us">
    {% include about-us.html %}
</section>